{% extends 'base.html.twig' %}

{% block title %}RCosson - site test{% endblock %}

{% block body %}
  <div class="content">
    <div class="header">
      <ul class="top-nav-ul">
        <li><a href="{{path('homepage')}}">Accueil</a></li>
        <li><a href="{{asset('/assets/pdf/CV-romain-cosson.pdf')}}">Mon CV</a></li>
        <li><a href="{{path('contact')}}">Contact</a></li>
      </ul>
    </div>
    <div class="main">
      <h1>RCosson - site test</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="side">

    </div>
    <div class="footer">

    </div>
  </div>
  
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
{% endblock %}